//atikhobaev styles
@import "http://webfonts.ru/import/roboto.css";
/*
        Roboto, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic, 900, 900 italic
    */

body {
    font-family: 'Roboto';
}
header {
    nav {
        .container-fluid {
            background-color: #2C50A0;
            .logo {
                color: #fff;
                font-size: 1.7em;
                font-weight: 900;
            }
            .navbar-form {
                .input-group.add-on {
                    width: 100%;
                    .input-group-btn {
                        width: 1%;
                    }
                }
            }
        }
    }
}
.fa-ul{
    line-height: 1.6;
}